
#bgr {
  position: fixed; 
  width: 100%; 
  height: 100%;
}
#bgr img {
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto;
}

.st4 {
  fill: #DB201C;
  animation: sun 60s infinite;

}

@keyframes sun {
   0% {
    fill: #DB201C;
  }
  25% {
    fill: #F06019;
  }
  50% {
    fill: #FBE050;
  }
  75% {
    fill: #F06019;
  }
  100% {
    fill: #DB201C;
  }
}
.ambience {
  position: absolute;
  right: 40px;
  top: 40px;
  margin-right: 40px;
  margin-top: 30px;
  z-index: 99;
}
audio {
  display: none;
}
.play i {
  position: absolute;
  color: #727180;
  font-size: 20px;
}

.share {
  float: right;
  margin-top:60px;


}
.fa-share-alt {
  position: absolute;
  color: #727180;
  height: 5px;
}

.fa-air {
  margin-left: -12px;
}

#pauseSound {
  display: none;
}

.text-play p {
  position: absolute;
  margin-top: 110px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #727180;
  letter-spacing: 1.67px;
  margin-left: -9px;
}

.ether-icon {
  position: absolute !important;
  color: #FEF7EB !important;
  font-size: 20px;
}