
#bgr {
  position: fixed; 
  width: 100%; 
  height: 100%;
}
#bgr img {
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto;
}

.st4 {
  fill: #DB201C;
  animation: sun 60s infinite;

}

@keyframes sun {
   0% {
    fill: #DB201C;
  }
  25% {
    fill: #F06019;
  }
  50% {
    fill: #FBE050;
  }
  75% {
    fill: #F06019;
  }
  100% {
    fill: #DB201C;
  }
}
